$pink:#BF4080;
$palegray: #8C8C8C;
$darkergray: #6b717f;
$white: #fff;
$black: #000;
$green: green;
$red: red;
$orange: orange;
$padding: 16px;


@mixin shadow($value) {
    box-shadow: $value;
    -webkit-box-shadow: $value;
    -moz-box-shadow: $value;    
}
